body {
    font-family: 'Lacquer', sans-serif;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform: translateY(-10vh);
}



#player {
    font-size: 100px;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
}

section > div {
    width: 60px;
    height: 60px;
    font-size: 60px;
    position: absolute;
}

.score-line {
    display: inline-block;
}